{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="container mt-5">

    <h1 class="mb-4">Admin Dashboard</h1>

    <div class="row g-4">

        <div class="col-12 col-sm-6 col-lg-3">


            <div class="card shadow p-4 text-center">

                <h3>📂</h3>

                <h4>Categories</h4>

                <a href="/admin/categories" class="btn btn-primary mt-3">
                    Manage
                </a>

            </div>

        </div>

        <div class="col-12 col-sm-6 col-lg-3">


            <div class="card shadow p-4 text-center">

                <h3>❓</h3>

                <h4>Questions</h4>

                <a href="/admin/questions" class="btn btn-success mt-3">
                    Manage
                </a>

            </div>

        </div>
            <div class="col-12 col-sm-6 col-lg-3">

                <div class="card shadow p-4 text-center">

                <h3>📄</h3>

                <h4>View Questions</h4>

                <a href="/admin/view_questions" class="btn btn-info mt-3">
                    View
                </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">


                <div class="card shadow p-4 text-center">

                    <h3>👥</h3>

                    <h4>Users</h4>

                    <a href="{{ url_for('main.admin_users') }}" class="btn btn-warning mt-3">
                        View
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}

 