<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Interview Preparation System{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% if session.get("user") and request.path not in ["/", "/login", "/register", "/admin_login"] %}

    {% if session.get("role") == "user" %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

            <a class="navbar-brand fw-bold" href="/dashboard">
                🎯 Interview Preparation System
            </a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#userNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="userNavbar">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/dashboard' %}active{% endif %}"
                            href="/dashboard">
                            Dashboard
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/interview' %}active{% endif %}"
                            href="/interview">
                            Interview
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/results' %}active{% endif %}"
                            href="/results">
                            Results
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/profile' %}active{% endif %}"
                            href="/profile">
                            Profile
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-warning fw-bold" href="/logout">Logout</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

    {% elif session.get("role") == "admin" %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

            <a class="navbar-brand fw-bold" href="/admin">
                🛠 Admin Panel
            </a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#adminNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="adminNavbar">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/admin' %}active{% endif %}"
                            href="/admin">
                                Dashboard
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/admin/categories' %}active{% endif %}"
                            href="/admin/categories">
                            Categories
                        </a>                    
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/admin/questions' %}active{% endif %}"
                            href="/admin/questions">
                            Add Question
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/admin/view_questions' %}active{% endif %}"
                            href="/admin/view_questions">
                            View Questions
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-warning fw-bold" href="/logout">Logout</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

    {% endif %}

{% endif %}


<div class="container mt-3">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}

                <div class="alert alert-{{ category }} alert-dismissible fade show shadow" role="alert">

                    {{ message }}

                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert">
                    </button>

                </div>

            {% endfor %}
        {% endif %}
    {% endwith %}

</div>
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>